.body {
    font-family: "Cabinet Grotesk", "abinet Grotesk Placeholder", sans-serif;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
}

.navbar img {
    width: 20px;
    transition: transform .7s ease-in-out;
}

.navbar img:hover {
    transform: rotate(360deg);
}

.navbar h4 {
    color: #111;
}

.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index: 1;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
    right: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth; */
}

/* .hero-img img {
    width: 50%;
    height: 300px;
    background: url('your-image.jpg') no-repeat;
    background-size: cover;
    background-position: left;
} */

.image3, .image9 {
    width: 100%;
    height: 50vh; /* Half of the original height */
    object-fit: cover;
}

.image3 {
    object-position: top;
}

.image9 {
    object-position: bottom;
}

.hero {
    background-color: #f8f8f8;
    display: flex;
    position: relative;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.hero-text {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.hero-text h1 {
        font-size: 2.5rem;
        color: #111;
    }

.hero-text p {
        font-size: 1.2rem;
        color: #555;
    }

img {
    width: 50%;
    border-radius: 10px;
}
.hero-image {
    display: flex;
}
.content {
    padding: 20px;
}

.testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 20px; */
    margin:0 20%;
    padding: 20px;
    border-radius: 20px;
}

.testimony-content {
    font-size: 30px;
    padding: 20px 0;
}

.testimony-content span {
    padding: 5px;
    transition: backgroundColor 0.5s ease-in, color 0.5s ease;
}

.partImage {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    object-fit: cover;
}

.cta-button {
    background: #ff5500;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 15%; */
}

.process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.process-header {
    max-width: 700px;
    margin: 10px auto;
    /* padding: 20px; */
}

.process h3 {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: #111;
    color: #fff;
    border-radius: 50px;
    font-weight: lighter;
    padding: 10px 2px;
    border-radius: 30px;
    text-align: center;
    border: none;
    width: 20%;
}

.process h1 {
    /* font-size: 2rem;
    color: #111;
    font-weight: lighter; */
    font-size: 32px;
    font-weight: 600;
    margin-top: 15px;
    color: #000;
}

.process p {
    /* font-size: 1.5rem;
    color: #111;
    max-width: fit-content; */
    font-size: 16px;
    color: #333;
    max-width: 600px;
    margin:  auto;
}

.process-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    text-align: left;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; 
    padding-right: 1rem;
}

.process-content img {
    width: 30%;
    border-radius: 10px;
}

.process-card {
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #000;
}

.process-card h4 {
    font-size: 1.2rem;
    color: #111;
    font-weight: lighter;
}

.process-card p {
    font-size: 1rem;
    color: #111;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-header {
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
}

.service h3 {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: #111;
    color: #fff;
    border-radius: 50px;
    font-weight: lighter;
    padding: 10px 2px;
    border-radius: 30px;
    text-align: center;
    border: none;
    width: 20%;
}

.service h1 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 15px;
    color: #000;
}

.service p {
    font-size: 16px;
    color: #333;
    max-width: 600px;
    margin:  auto;
}

.service-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* align-items: center; */
    text-align: left;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; 
    padding-right: 1rem;
}

.design-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
}

.design-item.active {
    background-color: #333;
    color: white;
    transform: translateX(5px);
  }

.design-item p {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
    font-size: 14px;
    color: #f9f6f6;
    margin: 5px 0 0 0;
    padding-left: 5px;
  }

  .design-item h1 {
    /* background-color: #fff; */
  }
  
  .design-item.active p {
    max-height: 100px;
    opacity: 1;
  }

  .benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.benefit-header, .work-header, .pricing-header, .testimonials-header, .tutorials-header,  .offer-header, .about-header, .faq-header {
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
}

.benefit h3, .work h3, .pricing h3, .testimonials h3, .offer h3, .tutorials h3, .about h3, .faq h3 {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: #111;
    color: #fff;
    border-radius: 50px;
    font-weight: lighter;
    padding: 10px 2px;
    border-radius: 30px;
    text-align: center;
    border: none;
    width: 20%;
}

.benefit h1, .work h1, .testimonials h1, .offer h1, .about h1, .tutorials h1, .faq h1 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 15px;
    color: #000;
}

.benefit p, .work p, .offer p, .about p, .tutorials p, .faq p {
    font-size: 16px;
    color: #333;
    max-width: 600px;
    margin:  auto;
}

.benefit-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.benefit-card {
    background-color: #ffffff;
    /* padding: 20px; */
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; 
    padding-right: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.benefit-card:hover {
    transform: translateY(-10px);
}

.benefit-card img {
    width: 20%;
    border-radius: 50px;
    background-color: #ff5500;
    padding: 20px;
}
/* .benefit .icon {
    background-color: #6200ea;
    color: #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 24px;
} */

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333333;
}

p {
    font-size: 14px;
    color: #666666;
    line-height: 1.6;
}

.work {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
}

.work-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    cursor: pointer;
    text-decoration: none;
}
.work-card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* text-align: start; */
    /* gap: 20px; */
    border-radius: 20px;
    font-size: 1.2rem;
}

.work-card-text a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

.work-card {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}
.work-card .crm-img {
    background-image: url('/image/backgroundwork.jpg');
    padding: 20px;
    /* margin: 50px; */
    width: 100%;
}

.work-card-content {
    background-color: #f8f8f8;
    color: #333;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
}

.work-card1  {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.work-card1 .crm-img {
    background-image: url('/image/backgroundwork.jpg');
    padding: 20px;
    width: 100%;
    /* min-height: 100px; */
    /* height: 50%; */
}

.work .cta-btn {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: #111;
    border-radius: 50px;
    font-weight: lighter;
    padding: 20px 2px;
    border-radius: 30px;
    text-align: center;
    border: none;
    width: 20%;
    display: flex;
    justify-content: center;
}

.work .cta-btn a {
text-decoration: none;
color: #fff;
}

.work .cta-btn:hover {
    background-color: #ff5500;
    transform: rotateY('90');
}

.pricing {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFBF5;
    padding: 50px;
    margin-top: 50px;
    border-radius: 50px;
}

.pricing-card {
   background-color: #fff;
   border: 1px solid #000;
   border-radius: 10px;
   padding: 20px;
   margin-top: 60px;
}

.pricing-card1 {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
 }

 .pricing-card2 {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
 }
 

.pricing-card-text h1 {
    font-size: 1.5rem;
    color: #111;
}
.pricing-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

.pricing-description div {
    font-size: 1rem;
    color: #333;
    padding: 5px 0px;
}

.solo-btn {
    background: #111;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
    width: 100%;
}

.solo-btn:hover {
    background-color: #ff5500;
}

.book-btn {
    background: #ff5500;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
    width: 100%;
}

.book-btn:hover {
    background-color: #111;
}

.call-btn {
    background: #111;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
    width: 100%;
}

.call-btn:hover {
    background-color: #ff5500;
}

.testimonials {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-top: 50px;
    border-radius: 50px;
}

.testimonials-content {
    max-width: 600px;
    margin: auto;
}
.testimonial-content {
    margin-top: 20px;
}
.testimonial-text {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
}
.author {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.position {
    color: gray;
    font-size: 0.9em;
    text-align: center;
}
.testimonial-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.testimonial-image img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border-color 0.3s;
}
.testimonial-image img.active {
    border-color: black;
}

.customer-logos {
    display: flex;
    overflow: hidden;
    padding: 10px 0;
    justify-content: center;
    gap: 20px;
  }
  .customer-logos img {
    width: 90px;
    object-fit: contain;
  }
  @keyframes scrollLogos {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  .customer-logos .slide {
    display: flex;
    animation: scrollLogos 20s linear infinite;
    gap: 30px;
  }

.offer {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 40%;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

.offer-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.offer h2 {
    text-align: center;
}

.offer-slider img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.about-img {
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* width: 50%; */
}

.about-content p {
    font-size: 1.2rem;
    color: #333;
    max-width: 600px;
    margin:  auto;
    padding-top: 20px;
}

.about-img1 {
    width: 20%;
    /* position: absolute; */
    right: 2px;
}

.about-img2 {
    width: 20%;
    position: relative;
    top: 5;
}

.about button, .tutorials button {
    background: #ff5500;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1.2rem;
    margin: 50px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.about button:hover, .tutorials button:hover {
    background-color: #111;
}

.tutorials-content {
    position: relative;
    width: 560px;
    height: 315px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.tutorials-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: url('https://upload.wikimedia.org/wikipedia/commons/7/71/YouTube_play_button_icon_%282013-2017%29.svg') no-repeat center;
    background-size: contain;
    pointer-events: none;
}

.accordion {
    max-width: 600px;
    margin: auto;
}
.faq-item {
    background: white;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
    border: 0.1px solid #111;
}
.faq-question {
    color: #111;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    display: none;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
}
.icon {
    font-size: 20px;
    transition: transform 0.3s ease;
}
.active .icon {
    transform: rotate(180deg);
}

footer {
    /* max-width: 72rem; */
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    color: #fff;
    padding: 20px 70px;
    border-radius: 20px 20px 0 0 ;
    margin-top: 30px;
    /* text-align: center; */
}

footer h4 {
    font-size: 1rem;
    color: #111;
}

.footer-logo img {
    width: 5%;
    transition: transform .7s ease-in-out;
}

.footer-logo img:hover {
    transform: rotate(360deg);
}

.footer-logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0 500px;
}

.footer-content p {
    font-size: .8rem;
    /* color: #111; */
}

.footer-social {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* gap: 1px; */
    width: 50%;
}

.footer-social a {
    color: #111;
    /* font-size: 1.5rem; */
    text-decoration: none;
}


.footer-links a {
    color: #111;
    font-size: .8rem;
    text-decoration: none;
}
/* #web-design.active {
    background-color: #f8f8f8;
    display: flex;
    position: relative;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
} */

/* #product-design {
    background-color: #f8f8f8;
    display: flex;
    position: relative;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
} */

/* #brand-identity {
    background-color: #f8f8f8;
    display: flex;
    position: relative;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
} */

/* #framer-development {
    background-color: #f8f8f8;
    display: flex;
    position: relative;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
} */
/* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid img:hover {
    transform: scale(1.05);
} */